openapi: 3.0.3
info:
  title: TicketSpice API (Webconnex v2 Public) Coupons Registrants API
  version: '2.0'
  description: OpenAPI description of the TicketSpice programmable surface, which is the shared Webconnex v2 Public REST API (base https://api.webconnex.com/v2/public). TicketSpice is one of several Webconnex products (alongside RegFox, RedPodium, and GivingFuel) that share this API; the TicketSpice product is selected with a product=ticketspice query parameter and requests authenticate with an apiKey request header. Paths and methods are transcribed from the public Webconnex v2 reference and are real; a provisioned account API key (available on higher-tier plans) is required to exercise them. Request and response bodies are modeled at a summary level from the reference JSON envelope and are illustrative where the full field-level schema is not published.
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
  license:
    name: Proprietary (Webconnex)
    url: https://www.webconnex.com/privacy-policy
servers:
- url: https://api.webconnex.com/v2/public
  description: Webconnex v2 Public API (shared across TicketSpice, RegFox, RedPodium, GivingFuel)
security:
- apiKeyAuth: []
tags:
- name: Registrants
paths:
  /search/registrants:
    get:
      tags:
      - Registrants
      summary: Search registrants
      operationId: searchRegistrants
      parameters:
      - $ref: '#/components/parameters/product'
      - $ref: '#/components/parameters/formId'
      - $ref: '#/components/parameters/status'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/startingAfter'
      - $ref: '#/components/parameters/dateCreatedAfter'
      - $ref: '#/components/parameters/dateCreatedBefore'
      responses:
        '200':
          description: A page of registrants.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEnvelope'
  /search/registrants/{id}:
    get:
      tags:
      - Registrants
      summary: View registrant
      operationId: getRegistrant
      parameters:
      - $ref: '#/components/parameters/pathId'
      - $ref: '#/components/parameters/product'
      responses:
        '200':
          description: A single registrant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
  /registrant/check-in:
    post:
      tags:
      - Registrants
      summary: Check-in registrant
      operationId: checkInRegistrant
      parameters:
      - $ref: '#/components/parameters/product'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckInRequest'
      responses:
        '200':
          description: Registrant checked in.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
  /registrant/check-out:
    post:
      tags:
      - Registrants
      summary: Check-out registrant
      operationId: checkOutRegistrant
      parameters:
      - $ref: '#/components/parameters/product'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckInRequest'
      responses:
        '200':
          description: Registrant checked out.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
components:
  parameters:
    formId:
      name: formId
      in: query
      required: false
      description: Filter results to a single form (event page).
      schema:
        type: string
    dateCreatedAfter:
      name: dateCreatedAfter
      in: query
      required: false
      schema:
        type: string
        format: date-time
    product:
      name: product
      in: query
      required: true
      description: Webconnex product to scope the request to. Use ticketspice for TicketSpice.
      schema:
        type: string
        default: ticketspice
        example: ticketspice
    pathId:
      name: id
      in: path
      required: true
      schema:
        type: string
    status:
      name: status
      in: query
      required: false
      schema:
        type: string
    limit:
      name: limit
      in: query
      required: false
      description: Page size. Default 50.
      schema:
        type: integer
        default: 50
    startingAfter:
      name: startingAfter
      in: query
      required: false
      description: Cursor for pagination - the id to start after.
      schema:
        type: string
    dateCreatedBefore:
      name: dateCreatedBefore
      in: query
      required: false
      schema:
        type: string
        format: date-time
  schemas:
    Envelope:
      type: object
      description: Standard Webconnex response envelope wrapping a single object.
      properties:
        responseCode:
          type: integer
          example: 200
        data:
          type: object
    CheckInRequest:
      type: object
      description: Illustrative body for registrant check-in/check-out.
      properties:
        registrantId:
          type: string
    ListEnvelope:
      type: object
      description: Standard Webconnex response envelope wrapping a page of objects.
      properties:
        responseCode:
          type: integer
          example: 200
        data:
          type: array
          items:
            type: object
        totalResults:
          type: integer
        hasMore:
          type: boolean
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: apiKey
      description: Account API key generated from the TicketSpice/Webconnex dashboard.
